.navbar-collapse {
    flex-grow: 0;
}

.tutucuwrap {
    padding-left: 277px;
    padding-right: 277px;
}

.navbar {
    background-color: orange;
    height: auto;
    padding: 15px 0px;
}

.navbar-brand {
    color: #fff;
    font-weight: 600;
}

.navbar-expand-lg .navbar-nav .nav-link {
    color: #fff;
}

.navbar-brand:focus,
.navbar-brand:hover {
    color: #fff;
}

.navbar .tutucuwrap {
    display: flex;
    flex-wrap: inherit;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.anasayfa-slider img {
    width: 100%;
    height: 45vw;
    object-fit: cover;
}

.nav-tabs {
    margin-top: 25px;
    gap: 17px;
    border: 0;
}

.nav-tabs .nav-link {
    height: 50px;
    box-shadow: 0px 4px 25px 0px rgba(0, 0, 0, 0.15);
    background-color: #fff;
    color: orange;
    font-size: 16px;
    font-weight: 600;
    border-radius: 10px;
    border: 0;
    width: 100%;
    gap: 7px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-tabs .nav-link.active {
    background-color: orange;
    color: #fff;
}

.tab-content {
    margin-top: 50px;
}

.wrapper {
    display: inline-flex;
    list-style: none;
    padding-left: 0;
  }
  
  .wrapper .icon {
    position: relative;
    background: #ffffff;
    border-radius: 50%;
    padding: 15px;
    margin: 10px;
    width: 50px;
    height: 50px;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  
  .wrapper .tooltip {
    position: absolute;
    top: 0;
    font-size: 14px;
    background: #ffffff;
    color: #ffffff;
    padding: 5px 8px;
    border-radius: 5px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  
  .wrapper .tooltip::before {
    position: absolute;
    content: "";
    height: 8px;
    width: 8px;
    background: #ffffff;
    bottom: -3px;
    left: 50%;
    transform: translate(-50%) rotate(45deg);
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  
  .wrapper .icon:hover .tooltip {
    top: -45px;
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }
  
  .wrapper .icon:hover span,
  .wrapper .icon:hover .tooltip {
    text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
  }
  
  .wrapper .facebook:hover,
  .wrapper .facebook:hover .tooltip,
  .wrapper .facebook:hover .tooltip::before {
    background: #1877F2;
    color: #ffffff;
  }
  
  .wrapper .twitter:hover,
  .wrapper .twitter:hover .tooltip,
  .wrapper .twitter:hover .tooltip::before {
    background: #1DA1F2;
    color: #ffffff;
  }
  
  .wrapper .instagram:hover,
  .wrapper .instagram:hover .tooltip,
  .wrapper .instagram:hover .tooltip::before {
    background: #E4405F;
    color: #ffffff;
  }

  .wrapper .icon i {
    color: orange;
  }

  .wrapper .icon:hover i {
    color: white;
  }
  
  
  footer {
    background-color: orange;
    padding: 20px 0px;
    margin-top: 50px;
  }

  footer h5 {
    color: white;
  }

  footer h3 {
    color: white;
  }

  footer a {
    color: white;
    text-decoration: none;
  }

  .footer-logo {
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }

  .footer-contact {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
  }

  .footer-social {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    flex-direction: column;
    text-align: center;
  }